@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

// HTML Elements
*{
    color: inherit;
    margin: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    background-color: $primary;
}

ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

hr{
    position: relative;
    z-index: 0;
    height: 0;
    margin: 2em 2em;
    border-top: 1px solid $primary; 
}

img{
    max-width: 100%;
}

h1{
    color: $secondary !important;
}

a{
    color: $link;
}
a:visited{
    color: $visited-link;
}

button{
    color: $secondary;
    border: 0;
    background: $primary;
}

// MWD's classes
.error{
    color: $error;
    border-color: $error;
    border-style: solid;
}

.dark-mode{
    color: #fff;
    background-color: $primary;
}
.light-mode{
    color: $primary;
    background-color: #fff;
}

.text-center{
    text-align: center;
}